<% if (!username) { %>
  <form action="/login" method="POST" style="margin:20px;">
    <input id="username" type="email" name="username" placeholder="Email" style="width: 180px">
    <input id="password" type="password" name="password" placeholder="Password" style="width: 180px">
    <input type="submit" value="Sign In">
  </form>
  <h5>Catchy line to grab your attention: <a href="/register">Register</a></h5>
<% } else { %>
  <table>
    <tr>
      <td><h2><%= username %></h2></td>
      <td><form action="/logout" method="POST" style="margin:20px;">
          <input type="submit" value="Sign Out">
      </form></td>
    </tr>
  </table>
<% } %>